.Rhistory
.RData
.Rproj.user/
.DS_Store
.quarto/
_freeze/
_site/
renv/library/
renv/staging/
*.Rproj
*.html
!assets/theme-switcher.html
!out/*.html
*_files/
labs/my_data.csv


/.quarto/
**/*.quarto_ipynb
.positai
